.container
  %p
    Hello #{@obj.name.titleize}
  %p
    = succeed "." do
      %strong Thank you for letting us know, We will reach you as soon as possible. We appriciate your valuable feedback.
  %p
    Thank you!
  %p
    Team Maroposts