.container
  %p
    Hello #{@user.email.titleize}
  %p
    = succeed "." do
      %strong Welcome to Maropost
  %p
    = succeed "." do
      %strong Maropost is the fastest growing company in Toronto and among the fastest growing companies in North America. In 2016, Maropost was ranked 4th in Deloitte's Canadian Technology Fast 50, 7th in the annual PROFIT 500 of Canada's fastest- growing companies, and 37th in the North America-wide Deloitte Fast 500.
  %p
    = succeed "." do
      Experience the power of Maropost Marketing Cloud’s 1-to-1 digital marketing capabilities firsthand.
  %p
    Thank you!
  %p
    Team Maroposts