
.image_container {
  width: 500px;
  height: 250px;
  margin-left: -35px;
  padding-top: 30px;
  margin-bottom: -25px;
}
.padd0 {
  padding: 0px !important;
}
.padd5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padd10{
  padding-left: 10px;
  padding-right: 10px;
}
.margin5 {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.margin10{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.margin20{
  margin-right: 20px;
  margin-left: 20px;
}
.err-text{
  padding-top: 45px;
}
.ad-img{
  margin-left: -55px;
  margin-top: 8px;
}
.import-input{
  margin-left: -9px;
  margin-top: 20px;
}
.import-submit{
  margin-left: 155px;
  margin-bottom: 10px;
}
.btn-block {
    display: block;
    width: 69%;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.count-text{
  /*margin-top: 25px;
  margin-right: 250px;*/
 margin-left: -60px;
    margin-top: 27px;
}
.count-val{
      margin-left: 118px;
    margin-top: 30px;

}
  display:inline-block;
}