%footer.navbar-fixed-bottom.footer
  .text-center
    %hr/
    .row
      .col-lg-12
        .col-md-4
          %p.text-muted
            © 2017 Maropost Inc. All rights reserved. |
            %a{:href => contact_us_dashboards_path} Contact Us
        .col-md-4
          %p.text-muted Terms of Service
        .col-md-4
          %p.text-muted Privacy
/ Fixed navbar
